<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insira o código de verificação</title>
    <link rel="shortcut icon" href="../public/img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/token.css">
</head>
<body>

<div class="container">
    <h2>Insira o código de verificação</h2>
    
    <div class="code-inputs">
    <form action="../backend/models/login.php" method="POST">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
        <input type="text" maxlength="1">
    </form>
    </div>
    
    <button class="btn-submit">Continuar</button>
</div>

</body>
</html>
 